ENABLE_OAUTH_SIGNUP=true
OAUTH_MERGE_ACCOUNTS_BY_EMAIL=true
OAUTH_PROVIDER_NAME=<Provider>
OPENID_PROVIDER_URL=https://<oauth.example.com>/realms/<realm>/.well-known/openid-configuration
OAUTH_CLIENT_ID=<client-id>
OAUTH_CODE_CHALLENGE_METHOD=S256
OAUTH_SCOPES=openid email profile
OPENID_REDIRECT_URI=https://<domain.example.com>/oauth/oidc/callback
WEBUI_AUTH_SIGNOUT_REDIRECT_URL=https://<domain.example.com>/auth
